In [9]:
import pandas as pd

df01 = pd.read_csv(r'data/990001.csv',sep=';', names=['Num','X','Y','Dist'])
df01

    Num         X         Y       Dist
0    6a  132.0273  105.5994  48.286822
1     6  106.5573  104.7235  72.991942
2     7  140.6679  108.2610  39.255562
3     8  167.3911  121.9081  10.148766
4    7a  152.7813  117.7490  25.075741
5    7b  155.1098  112.1205  24.402639
6  9001  100.0000  100.0000   0.000000

In [10]:
df02 = pd.read_csv(r'data/990002.csv',sep=';', names=['Num','X','Y','Dist'])
df02

    Num         X         Y       Dist
0    6a  147.0338   84.9535  32.513093
1     6  124.3194   73.3954   8.081438
2     7  153.7402   91.0169  41.498460
3     8  172.1918  114.6797  70.862721
4    7a  160.7087  104.7360  55.685659
5    7b  165.1976  100.6186  56.426914
6  9002  181.4615  118.8113   0.000000

Дополнительный шаг - выборка номер одинаковых номеров пунктов.
Сортирую номера и записи в таблицы, надеюсь, что принцип сортировки и в сете и в дф одинаковые, но лучше будет убедиться.

In [11]:
inter = sorted(set(list(zip(*df01['Num'].iteritems()))[1]).intersection(set(list(zip(*df02['Num'].iteritems()))[1])))

df01_com = df01.loc[df01['Num'].isin(inter)].sort_values(by='Num')
df02_com = df02.loc[df02['Num'].isin(inter)].sort_values(by='Num')

Создаю по два набора точек - mp01,mp02 - все точки, включая стоянки. mp01_c, mp02_c - набор общих точек.

In [12]:
from shapely.geometry import MultiPoint

mp01 = MultiPoint([i[2:4] for i in df01.itertuples()])
mp01_c = MultiPoint([i[2:4] for i in df01_com.itertuples()])
mp02 = MultiPoint([i[2:4] for i in df02.itertuples()])
mp02_c = MultiPoint([i[2:4] for i in df02_com.itertuples()])

In [13]:
mp01_c

In [14]:
mp02_c

In [25]:
from shapely import affinity
from scipy.optimize import minimize

def mov(x,y,angle,geom):
    geom_r = affinity.rotate(geom,angle,origin=(0,0))
    geom_t = affinity.translate(geom_r,x,y)
    return geom_t

def calc_dist(geom1,geom2):
    dist = 0
    geom_list = zip(geom1,geom2)
    for item in geom_list:
        dist+=item[0].distance(item[1])
    return dist

def fun1(x0,geom1, geom2):
    x,y,angle = x0
    n_geom = mov(x,y,angle,geom2)
    return calc_dist(geom1,n_geom)

In [26]:
x0 = (0,0,0)

re = minimize(fun1,x0,args=(mp01_c,mp02_c),method='SLSQP')

re

     fun: 0.001928021519945101
     jac: array([-0.18268558,  0.14068622,  0.60170788,  0.        ])
 message: 'Optimization terminated successfully.'
    nfev: 210
     nit: 36
    njev: 36
  status: 0
 success: True
       x: array([-37.13353953,  90.74525667, -25.00023914])

In [27]:
mp_moved = mov(-37.1335426 ,  90.74529586, -25.00025255,mp02)
mp_moved

Считаем расстояния от стоянки 99002 до всех точек.  
До сдвижки, после сдвижки, значение сдвижки.

In [28]:
dist_do = [mp02[-1].distance(i) for i in mp02]
dist_po = [mp_moved[-1].distance(i) for i in mp_moved]
od = zip(dist_do,dist_po)
od = [[i[0],i[1],i[0]-i[1]] for i in od]
df_od = pd.DataFrame.from_records(od,columns=('Before','After','Diff'))
df_od

      Before      After          Diff
0  48.286822  48.286822  2.842171e-14
1  72.991942  72.991942  0.000000e+00
2  39.255562  39.255562  2.842171e-14
3  10.148766  10.148766  8.881784e-15
4  25.075741  25.075741  3.552714e-14
5  24.402639  24.402639  3.552714e-14
6   0.000000   0.000000  0.000000e+00

Расстояние между всеми точками:

In [38]:
all_l = []
for origin in mp02:
    nap = []
    for p in mp02:
        nap.append(origin.distance(p))
    all_l.append(nap)

all_2 = []
for origin in mp_moved:
    nap = []
    for p in mp_moved:
        nap.append(origin.distance(p))
    all_2.append(nap)

all_a = [list(zip(i[0],i[1])) for i in list(zip(all_l,all_2))]
all_a

[[(0.0, 0.0),
  (25.485949913040336, 25.485949913040358),
  (9.041051958704786, 9.04105195870479),
  (38.943188498632196, 38.94318849863217),
  (24.048912579574143, 24.04891257957415),
  (23.985808063311087, 23.985808063311094),
  (48.286821681800504, 48.286821681800475)],
 [(25.485949913040336, 25.485949913040358),
  (0.0, 0.0),
  (34.29432511203566, 34.29432511203568),
  (63.21518890464538, 63.21518890464538),
  (48.02514302789738, 48.02514302789741),
  (49.11343862406704, 49.113438624067065),
  (72.9919417827749, 72.9919417827749)],
 [(9.041051958704786, 9.04105195870479),
  (34.29432511203566, 34.29432511203568),
  (0.0, 0.0),
  (30.006493403928424, 30.006493403928395),
  (15.38745258514222, 15.387452585142224),
  (14.948734315988094, 14.9487343159881),
  (39.255561963242876, 39.25556196324285)],
 [(38.943188498632196, 38.94318849863217),
  (63.21518890464538, 63.21518890464538),
  (30.006493403928424, 30.006493403928395),
  (0.0, 0.0),
  (15.190087402645188, 15.190087402645158),
  (15.704565159532434, 15.704565159532402),
  (10.148766262457722, 10.148766262457713)],
 [(24.048912579574143, 24.04891257957415),
  (48.02514302789738, 48.02514302789741),
  (15.38745258514222, 15.387452585142224),
  (15.190087402645188, 15.190087402645158),
  (0.0, 0.0),
  (6.091240101161671, 6.091240101161664),
  (25.075740825148124, 25.075740825148088)],
 [(23.985808063311087, 23.985808063311094),
  (49.11343862406704, 49.113438624067065),
  (14.948734315988094, 14.9487343159881),
  (15.704565159532434, 15.704565159532402),
  (6.091240101161671, 6.091240101161664),
  (0.0, 0.0),
  (24.40263872002371, 24.402638720023674)],
 [(48.286821681800504, 48.286821681800475),
  (72.9919417827749, 72.9919417827749),
  (39.255561963242876, 39.25556196324285),
  (10.148766262457722, 10.148766262457713),
  (25.075740825148124, 25.075740825148088),
  (24.40263872002371, 24.402638720023674),
  (0.0, 0.0)]]

Таблица с координатам сдвинутого 99002:

In [39]:
df2_nums = list(zip(*df02['Num'].iteritems()))[1]
al = list(zip(df2_nums,mp_moved.geoms))
mov_stag = [[i[0],i[1].x,i[1].y,al[-1][1].distance(i[1])] for i in al]
mov_df = pd.DataFrame.from_records(mov_stag,columns=('Num','X','Y','Dist'))
mov_df

    Num           X           Y       Dist
0    6a  132.027301  105.599400  48.286822
1     6  106.556396  104.723836  72.991942
2     7  140.667879  108.260421  39.255562
3     8  167.391099  121.908100  10.148766
4    7a  152.781469  117.749080  25.075741
5    7b  155.109681  112.120347  24.402639
6  9002  177.538390  121.735012   0.000000

Координаты 99001:

In [40]:
df01

    Num         X         Y       Dist
0    6a  132.0273  105.5994  48.286822
1     6  106.5573  104.7235  72.991942
2     7  140.6679  108.2610  39.255562
3     8  167.3911  121.9081  10.148766
4    7a  152.7813  117.7490  25.075741
5    7b  155.1098  112.1205  24.402639
6  9001  100.0000  100.0000   0.000000

Оригинальные координаты 990002:

In [41]:
df02

    Num         X         Y       Dist
0    6a  147.0338   84.9535  32.513093
1     6  124.3194   73.3954   8.081438
2     7  153.7402   91.0169  41.498460
3     8  172.1918  114.6797  70.862721
4    7a  160.7087  104.7360  55.685659
5    7b  165.1976  100.6186  56.426914
6  9002  181.4615  118.8113   0.000000

In [50]:
df_stag = zip(df01.itertuples(),mov_df.itertuples())
list(df_stag)
staging = [[i[0][0],i[0][1],i[0][2],i[1][2],i[0][2]-i[1][2],i[0][3],i[1][3],i[0][3]-i[1][3],i[0][4],i[1][4],i[0][4]-i[1][4]] for i in list(df_stag)]

In [49]:
staged_df = pd.DataFrame.from_records(staging,columns=('Ind','Num','X01','X02_m','X_dist','Y01','Y02_m','Y_dist','Dist_01','Dist_02','Dist_dist'),index='Ind')
staged_df

,Num,X01,X02_m,X_dist,Y01,Y02_m,Y_dist,Dist_01,Dist_02,Dist_dist
Ind,,,,,,,,,,
0,6a,132.0273,132.027301,-1.272372e-06,105.5994,105.599400,1.590450e-07,48.286822,48.286822,-1.800473e-09
1,6,106.5573,106.556396,9.043161e-04,104.7235,104.723836,-3.363235e-04,72.991942,72.991942,-2.774897e-09
2,7,140.6679,140.667879,2.088700e-05,108.2610,108.260421,5.787198e-04,39.255562,39.255562,-3.242846e-09
3,8,167.3911,167.391099,5.628970e-07,121.9081,121.908100,-2.736738e-07,10.148766,10.148766,-2.457712e-09
4,7a,152.7813,152.781469,-1.689461e-04,117.7490,117.749080,-7.968983e-05,25.075741,25.075741,4.851913e-09
5,7b,155.1098,155.109681,1.192700e-04,112.1205,112.120347,1.533701e-04,24.402639,24.402639,-2.367528e-11
6,9001,100.0000,177.538390,-7.753839e+01,100.0000,121.735012,-2.173501e+01,0.000000,0.000000,0.000000e+00