In [39]:
import pandas as pd

df01 = pd.read_csv(r'data/chain/99.csv',sep=';', names=['Num','X','Y','Dist'],dtype={'Num':'str'})
df01

    Num           X         Y  Dist
0   573 -13622.7925 -324.1403   NaN
1   571 -13571.8536 -315.7198   NaN
2   570 -13548.2332 -306.1917   NaN
3   572 -13598.7265 -314.6067   NaN
4   574 -13648.3045 -322.7784   NaN
5   576 -13697.6023 -330.9374   NaN
6   578 -13748.3868 -339.3209   NaN
7   580 -13797.7679 -347.4498   NaN
8   579 -13772.0878 -348.8316   NaN
9   577 -13721.3571 -340.4877   NaN
10  575 -13671.9463 -332.2743   NaN
11  581 -13821.5486 -357.0575   NaN

In [40]:
df02 = pd.read_csv(r'data/chain/999.csv',sep=';', names=['Num','X','Y','Dist'],dtype={'Num':'str'})
df02

     Num           X         Y  Dist
0    582 -13845.9700 -338.8540   NaN
1    584 -13877.2015 -377.9683   NaN
2    586 -13909.5357 -418.5334   NaN
3    587 -13920.9132 -441.5029   NaN
4    585 -13889.2931 -401.8656   NaN
5    583 -13857.2388 -361.8128   NaN
6   #581 -13825.7023 -322.3889   NaN
7    579 -13794.4507 -283.1801   NaN
8    577 -13762.3342 -243.0344   NaN
9    576 -13751.0711 -220.0419   NaN
10   578 -13783.2011 -260.2533   NaN
11   580 -13814.4591 -299.3370   NaN

Дополнительный шаг - выборка номер одинаковых номеров пунктов.
Сортирую номера и записи в таблицы, надеюсь, что принцип сортировки и в сете и в дф одинаковые, но лучше будет убедиться.

In [41]:
inter = sorted(set(list(zip(*df01['Num'].iteritems()))[1]).intersection(set(list(zip(*df02['Num'].iteritems()))[1])))

df01_com = df01.loc[df01['Num'].isin(inter)].sort_values(by='Num')
df02_com = df02.loc[df02['Num'].isin(inter)].sort_values(by='Num')

Создаю по два набора точек - mp01,mp02 - все точки, включая стоянки. mp01_c, mp02_c - набор общих точек.

In [42]:
from shapely.geometry import MultiPoint

mp01 = MultiPoint([i[2:4] for i in df01.itertuples()])
mp01_c = MultiPoint([i[2:4] for i in df01_com.itertuples()])
mp02 = MultiPoint([i[2:4] for i in df02.itertuples()])
mp02_c = MultiPoint([i[2:4] for i in df02_com.itertuples()])

In [43]:
mp01_c

In [44]:
mp02_c

In [45]:
for i in mp01_c:
    print(mp01_c[0].distance(i))

0.0
25.602709878642585
51.471822509990595
76.60477859696371
101.51751955756234

In [46]:
for i in mp02_c:
    print(mp02_c[0].distance(i))

0.0
25.602977910001076
51.47128898677463
76.6043209969256
101.51724694853631

In [47]:
from shapely import affinity
from scipy.optimize import minimize

def mov(x,y,angle,geom):
    geom_r = affinity.rotate(geom,angle,origin=(0,0))
    geom_t = affinity.translate(geom_r,x,y)
    return geom_t

def calc_dist(geom1,geom2):
    dist = 0
    geom_list = zip(geom1,geom2)
    for item in geom_list:
        dist+=item[0].distance(item[1])
    return dist

def fun1(x0,geom1, geom2):
    x,y,angle = x0
    n_geom = mov(x,y,angle,geom2)
    return calc_dist(geom1,n_geom)

In [48]:
x0 = (0,0,0)

In [54]:
re = minimize(fun1,x0,args=(mp01_c,mp02_c),method='BFGS')
re

      fun: 0.0017292990661345326
 hess_inv: array([[  4.03680478e+00,   4.62399698e+00,   2.49951339e-02],
       [  4.62399698e+00,   5.29677678e+00,   2.86311050e-02],
       [  2.49951339e-02,   2.86311050e-02,   1.54769587e-04]])
      jac: array([  0.14003232,   0.35967447, -86.24365289])
  message: 'Desired error not necessarily achieved due to precision loss.'
     nfev: 1747
      nit: 257
     njev: 347
   status: 2
  success: False
        x: array([-3331.41147007, -9368.77261692,   -42.0005267 ])

In [50]:
mp_moved = mov(*re.x,mp02)
mp_moved

In [51]:
mp01

Считаем расстояния от стоянки 99002 до всех точек.  
До сдвижки, после сдвижки, значение сдвижки.

In [114]:
dist_do = [mp02[-1].distance(i) for i in mp02]
dist_po = [mp_moved[-1].distance(i) for i in mp_moved]
od = zip(dist_do,dist_po)
od = [[i[0],i[1],i[0]-i[1]] for i in od]
df_od = pd.DataFrame.from_records(od,columns=('Before','After','Diff'))
df_od

        Before       After          Diff
0    75.177982   75.177982  1.406875e-12
1    50.124869   50.124869  4.689582e-13
2   100.018759  100.018759 -3.552714e-13
3   125.640616  125.640616  1.080025e-12
4   150.607111  150.607111  3.126388e-13
5   175.659505  175.659505  1.392664e-12
6   200.562637  200.562637  3.979039e-13
7   225.785745  225.785745 -2.842171e-14
8    25.582642   25.582642  2.842171e-14
9    25.844611   25.844611 -3.872458e-13
10   51.162629   51.162629 -4.263256e-14
11    0.000000    0.000000  0.000000e+00

Расстояние между всеми точками:

In [115]:
all_l = []
for origin in mp02:
    nap = []
    for p in mp02:
        nap.append(origin.distance(p))
    all_l.append(nap)

all_2 = []
for origin in mp_moved:
    nap = []
    for p in mp_moved:
        nap.append(origin.distance(p))
    all_2.append(nap)

all_a = [list(zip(i[0],i[1])) for i in list(zip(all_l,all_2))]
all_a

[[(0.0, 0.0),
  (25.448999927896534, 25.44899992789563),
  (25.653840135347185, 25.65384013534917),
  (50.54347325026157, 50.54347325026195),
  (75.83284635143167, 75.83284635143289),
  (100.59726951866018, 100.59726951866027),
  (125.70694269629573, 125.70694269629684),
  (150.74302307917762, 150.74302307917912),
  (49.995183487412575, 49.99518348741111),
  (100.22227020483042, 100.22227020482927),
  (126.25779385828079, 126.25779385827937),
  (75.17798215974038, 75.17798215973897)],
 [(25.448999927896534, 25.44899992789563),
  (0.0, 0.0),
  (49.89394579906532, 49.89394579906614),
  (75.5944253135779, 75.59442531357728),
  (100.48225573766805, 100.4822557376682),
  (125.56805138887978, 125.56805138887886),
  (150.43777333369513, 150.4377733336952),
  (175.67919446923693, 175.6791944692374),
  (25.737078402373907, 25.73707840237333),
  (75.57195612050664, 75.57195612050648),
  (101.28748745985247, 101.28748745985204),
  (50.12486930935582, 50.124869309355354)],
 [(25.653840135347185, 25.65384013534917),
  (49.89394579906532, 49.89394579906614),
  (0.0, 0.0),
  (26.10300370551253, 26.103003705511302),
  (50.58838251229221, 50.58838251229156),
  (75.75900637284063, 75.75900637283895),
  (100.5439172471414, 100.54391724714064),
  (125.82263836257687, 125.82263836257657),
  (75.24475888811082, 75.24475888811118),
  (125.38958209516375, 125.38958209516444),
  (151.18138765406894, 151.18138765406934),
  (100.01875938542798, 100.01875938542834)],
 [(50.54347325026157, 50.54347325026195),
  (75.5944253135779, 75.59442531357728),
  (26.10300370551253, 26.103003705511302),
  (0.0, 0.0),
  (25.691314128319608, 25.691314128320528),
  (50.053798542868556, 50.053798542868265),
  (75.24497592803128, 75.24497592803202),
  (100.19955320284535, 100.19955320284647),
  (100.53865510270127, 100.53865510270016),
  (150.765740846685, 150.76574084668422),
  (176.76747078532253, 176.76747078532148),
  (125.64061570228866, 125.64061570228758)],
 [(75.83284635143167, 75.83284635143289),
  (100.48225573766805, 100.4822557376682),
  (50.58838251229221, 50.58838251229156),
  (25.691314128319608, 25.691314128320528),
  (0.0, 0.0),
  (25.570002291162158, 25.57000229116122),
  (49.955535095622935, 49.95553509562284),
  (75.31368975591286, 75.31368975591319),
  (125.74825446303369, 125.74825446303338),
  (175.94092369534073, 175.94092369534076),
  (201.76973827856295, 201.76973827856267),
  (150.60711147409404, 150.60711147409373)],
 [(100.59726951866018, 100.59726951866027),
  (125.56805138887978, 125.56805138887886),
  (75.75900637284063, 75.75900637283895),
  (50.053798542868556, 50.053798542868265),
  (25.570002291162158, 25.57000229116122),
  (0.0, 0.0),
  (25.586343435511946, 25.586343435513033),
  (50.14575468611323, 50.14575468611465),
  (150.59245263495143, 150.59245263495004),
  (200.8195388881271, 200.81953888812603),
  (226.80212471440854, 226.8021247144072),
  (175.65950485937418, 175.6595048593728)],
 [(125.70694269629573, 125.70694269629684),
  (150.43777333369513, 150.4377733336952),
  (100.5439172471414, 100.54391724714064),
  (75.24497592803128, 75.24497592803202),
  (49.955535095622935, 49.95553509562284),
  (25.586343435511946, 25.586343435513033),
  (0.0, 0.0),
  (25.746334762058037, 25.746334762058456),
  (175.66817911383345, 175.66817911383305),
  (225.87636996666936, 225.87636996666927),
  (251.72526048152142, 251.72526048152108),
  (200.5626367295771, 200.5626367295767)],
 [(150.74302307917762, 150.74302307917912),
  (175.67919446923693, 175.6791944692374),
  (125.82263836257687, 125.82263836257657),
  (100.19955320284535, 100.19955320284647),
  (75.31368975591286, 75.31368975591319),
  (50.14575468611323, 50.14575468611465),
  (25.746334762058037, 25.746334762058456),
  (0.0, 0.0),
  (200.7382064925596, 200.73820649255964),
  (250.96529300578442, 250.9652930057848),
  (276.93559206943644, 276.9355920694365),
  (225.78574542534778, 225.7857454253478)],
 [(49.995183487412575, 49.99518348741111),
  (25.737078402373907, 25.73707840237333),
  (75.24475888811082, 75.24475888811118),
  (100.53865510270127, 100.53865510270016),
  (125.74825446303369, 125.74825446303338),
  (150.59245263495143, 150.59245263495004),
  (175.66817911383345, 175.66817911383305),
  (200.7382064925596, 200.73820649255964),
  (0.0, 0.0),
  (50.22708677287554, 50.22708677287585),
  (76.34136008023435, 76.34136008023432),
  (25.582642328150044, 25.582642328150015)],
 [(100.22227020483042, 100.22227020482927),
  (75.57195612050664, 75.57195612050648),
  (125.38958209516375, 125.38958209516444),
  (150.765740846685, 150.76574084668422),
  (175.94092369534073, 175.94092369534076),
  (200.8195388881271, 200.81953888812603),
  (225.87636996666936, 225.87636996666927),
  (250.96529300578442, 250.9652930057848),
  (50.22708677287554, 50.22708677287585),
  (0.0, 0.0),
  (26.494831521827333, 26.494831521826974),
  (25.84461075349993, 25.844610753500316)],
 [(126.25779385828079, 126.25779385827937),
  (101.28748745985247, 101.28748745985204),
  (151.18138765406894, 151.18138765406934),
  (176.76747078532253, 176.76747078532148),
  (201.76973827856295, 201.76973827856267),
  (226.80212471440854, 226.8021247144072),
  (251.72526048152142, 251.72526048152108),
  (276.93559206943644, 276.9355920694365),
  (76.34136008023435, 76.34136008023432),
  (26.494831521827333, 26.494831521826974),
  (0.0, 0.0),
  (51.1626286186498, 51.16262861864984)],
 [(75.17798215974038, 75.17798215973897),
  (50.12486930935582, 50.124869309355354),
  (100.01875938542798, 100.01875938542834),
  (125.64061570228866, 125.64061570228758),
  (150.60711147409404, 150.60711147409373),
  (175.65950485937418, 175.6595048593728),
  (200.5626367295771, 200.5626367295767),
  (225.78574542534778, 225.7857454253478),
  (25.582642328150044, 25.582642328150015),
  (25.84461075349993, 25.844610753500316),
  (51.1626286186498, 51.16262861864984),
  (0.0, 0.0)]]

Таблица с координатам сдвинутого 99002:

In [116]:
df2_nums = list(zip(*df02['Num'].iteritems()))[1]
al = list(zip(df2_nums,mp_moved))
mov_stag = [[i[0],i[1].x,i[1].y,al[-1][1].distance(i[1])] for i in al]
mov_df = pd.DataFrame.from_records(mov_stag,columns=('Num','X','Y','Dist'))
mov_df

    Num             X           Y        Dist
0   603 -14367.718631 -391.157227   75.177982
1   602 -14346.579345 -376.987464   50.124869
2   604 -14393.066409 -395.108135  100.018759
3   605 -14414.777336 -409.599596  125.640616
4   606 -14440.156190 -413.594262  150.607111
5   607 -14461.387890 -427.843470  175.659505
6   608 -14486.659984 -431.841253  200.562637
7   609 -14508.084910 -446.118727  225.785745
8   601 -14321.163836 -372.931709   25.582642
9   599 -14274.391879 -354.624764   25.844611
10  598 -14252.268910 -340.045658   51.162629
11  600 -14299.915662 -358.684370    0.000000

Координаты 99001:

In [118]:
df01

     Num           X         Y  Dist
0    597 -14227.1757 -336.1428   NaN
1    596 -14205.7968 -321.8240   NaN
2    598 -14252.2691 -340.0457   NaN
3    599 -14274.3920 -354.6250   NaN
4    600 -14299.9163 -358.6838   NaN
5    601 -14321.1641 -372.9319   NaN
6    602 -14346.5794 -376.9875   NaN
7    603 -14367.7186 -391.1576   NaN
8    595 -14180.5512 -317.8627   NaN
9    593 -14133.8874 -299.5836   NaN
10   594 -14159.2446 -303.6052   NaN
11  597a -14229.0198 -330.9174   NaN

Оригинальные координаты 990002:

In [119]:
df02

    Num           X         Y  Dist
0   603 -14378.0490 -342.1180   NaN
1   602 -14354.7712 -331.8323   NaN
2   604 -14403.6978 -341.6095   NaN
3   605 -14427.5944 -352.1128   NaN
4   606 -14453.2814 -351.6420   NaN
5   607 -14476.6640 -361.9899   NaN
6   608 -14502.2464 -361.5407   NaN
7   609 -14525.8242 -371.8829   NaN
8   601 -14329.0375 -332.2493   NaN
9   599 -14279.7980 -322.3381   NaN
10  598 -14255.4804 -311.8200   NaN
11  600 -14305.6390 -321.9061   NaN

In [120]:
df_stag = zip(df01.itertuples(),mov_df.itertuples())
list(df_stag)
staging = [[i[0][0],i[0][1],i[0][2],i[1][2],i[0][2]-i[1][2],i[0][3],i[1][3],i[0][3]-i[1][3],i[0][4],i[1][4],i[0][4]-i[1][4]] for i in list(df_stag)]

In [122]:
zz =  pd.concat([df01,mov_df.rename(columns={'Num':'Num'})]).fillna(0).groupby('Num', as_index=False).last()
zz

     Num             X           Y        Dist
0    593 -14133.887400 -299.583600    0.000000
1    594 -14159.244600 -303.605200    0.000000
2    595 -14180.551200 -317.862700    0.000000
3    596 -14205.796800 -321.824000    0.000000
4    597 -14227.175700 -336.142800    0.000000
5   597a -14229.019800 -330.917400    0.000000
6    598 -14252.268910 -340.045658   51.162629
7    599 -14274.391879 -354.624764   25.844611
8    600 -14299.915662 -358.684370    0.000000
9    601 -14321.163836 -372.931709   25.582642
10   602 -14346.579345 -376.987464   50.124869
11   603 -14367.718631 -391.157227   75.177982
12   604 -14393.066409 -395.108135  100.018759
13   605 -14414.777336 -409.599596  125.640616
14   606 -14440.156190 -413.594262  150.607111
15   607 -14461.387890 -427.843470  175.659505
16   608 -14486.659984 -431.841253  200.562637
17   609 -14508.084910 -446.118727  225.785745

In [124]:
df01 = zz
df02 = pd.read_csv(r'data/chain/105.csv',sep=';', names=['Num','X','Y','Dist'],dtype={'Num':'str'})
df02

     Num           X         Y  Dist
0    609 -14528.7183 -346.7268   NaN
1    608 -14504.4771 -338.0529   NaN
2    610 -14550.3901 -343.9227   NaN
3    611 -14572.5412 -352.4513   NaN
4    612 -14597.9004 -350.1745   NaN
5   610a -14550.0088 -349.5743   NaN
6   611a -14573.2219 -346.8979   NaN
7   612a -14597.9052 -355.7832   NaN
8    607 -14478.9886 -340.2820   NaN
9    605 -14429.3495 -333.8482   NaN
10   604 -14404.7793 -325.0334   NaN
11   606 -14454.9418 -331.5884   NaN

In [125]:
inter = sorted(set(list(zip(*df01['Num'].iteritems()))[1]).intersection(set(list(zip(*df02['Num'].iteritems()))[1])))

df01_com = df01.loc[df01['Num'].isin(inter)].sort_values(by='Num')
df02_com = df02.loc[df02['Num'].isin(inter)].sort_values(by='Num')

In [126]:
mp01 = MultiPoint([i[2:4] for i in df01.itertuples()])
mp01_c = MultiPoint([i[2:4] for i in df01_com.itertuples()])
mp02 = MultiPoint([i[2:4] for i in df02.itertuples()])
mp02_c = MultiPoint([i[2:4] for i in df02_com.itertuples()])

In [130]:
x0 = (0,0,0)

re = minimize(fun1,x0,args=(mp01_c,mp02_c),method='SLSQP')

re

     fun: 0.00426196957177334
     jac: array([  -1.21600761,    1.9712386 , -560.31175013,    0.        ])
 message: 'Optimization terminated successfully.'
    nfev: 498
     nit: 88
    njev: 88
  status: 0
 success: True
       x: array([ -494.04349035,  3402.32346331,    13.98854554])

In [131]:
mp_moved = mov(*re.x,mp02)
mp_moved

In [132]:
df2_nums = list(zip(*df02['Num'].iteritems()))[1]
al = list(zip(df2_nums,mp_moved))
mov_stag = [[i[0],i[1].x,i[1].y,al[-1][1].distance(i[1])] for i in al]
mov_df = pd.DataFrame.from_records(mov_stag,columns=('Num','X','Y','Dist'))
mov_df

     Num             X           Y        Dist
0    609 -14508.085613 -446.117557   75.313632
1    608 -14486.660032 -431.841115   49.955337
2    610 -14529.792545 -448.635295   96.241950
3    611 -14549.225133 -462.265510  119.435671
4    612 -14574.382649 -466.186257  144.161730
5   610a -14528.056404 -454.027120   96.753435
6   611a -14551.228058 -457.041346  119.266772
7   612a -14573.031527 -471.629786  144.996283
8    607 -14461.388582 -427.842827   25.570046
9    605 -14414.776804 -409.600672   25.691876
10   604 -14393.066040 -395.107980   50.588975
11   606 -14440.156398 -413.594262    0.000000

In [133]:
zz =  pd.concat([df01,mov_df.rename(columns={'Num':'Num'})]).fillna(0).groupby('Num', as_index=False).last()
zz

     Num             X           Y        Dist
0    593 -14133.887400 -299.583600    0.000000
1    594 -14159.244600 -303.605200    0.000000
2    595 -14180.551200 -317.862700    0.000000
3    596 -14205.796800 -321.824000    0.000000
4    597 -14227.175700 -336.142800    0.000000
5   597a -14229.019800 -330.917400    0.000000
6    598 -14252.268910 -340.045658   51.162629
7    599 -14274.391879 -354.624764   25.844611
8    600 -14299.915662 -358.684370    0.000000
9    601 -14321.163836 -372.931709   25.582642
10   602 -14346.579345 -376.987464   50.124869
11   603 -14367.718631 -391.157227   75.177982
12   604 -14393.066040 -395.107980   50.588975
13   605 -14414.776804 -409.600672   25.691876
14   606 -14440.156398 -413.594262    0.000000
15   607 -14461.388582 -427.842827   25.570046
16   608 -14486.660032 -431.841115   49.955337
17   609 -14508.085613 -446.117557   75.313632
18   610 -14529.792545 -448.635295   96.241950
19  610a -14528.056404 -454.027120   96.753435
20   611 -14549.225133 -462.265510  119.435671
21  611a -14551.228058 -457.041346  119.266772
22   612 -14574.382649 -466.186257  144.161730
23  612a -14573.031527 -471.629786  144.996283

In [134]:
df01 = zz
df02 = pd.read_csv(r'data/chain/106.csv',sep=';', names=['Num','X','Y','Dist'],dtype={'Num':'str'})
inter = sorted(set(list(zip(*df01['Num'].iteritems()))[1]).intersection(set(list(zip(*df02['Num'].iteritems()))[1])))

df01_com = df01.loc[df01['Num'].isin(inter)].sort_values(by='Num')
df02_com = df02.loc[df02['Num'].isin(inter)].sort_values(by='Num')
mp01 = MultiPoint([i[2:4] for i in df01.itertuples()])
mp01_c = MultiPoint([i[2:4] for i in df01_com.itertuples()])
mp02 = MultiPoint([i[2:4] for i in df02.itertuples()])
mp02_c = MultiPoint([i[2:4] for i in df02_com.itertuples()])
x0 = (0,0,0)

re = minimize(fun1,x0,args=(mp01_c,mp02_c),method='SLSQP')
mp_moved = mov(*re.x,mp02)

In [137]:
re

     fun: 4.236177418337145
     jac: array([   1.99254447,   -0.40828776,  221.74558228,    0.        ])
 message: 'Iteration limit exceeded'
    nfev: 545
     nit: 101
    njev: 101
  status: 9
 success: False
       x: array([ -405.84391151,  3067.52073644,    12.65462041])

In [138]:
inter

['610', '610a', '611', '611a', '612', '612a']

In [136]:
df2_nums = list(zip(*df02['Num'].iteritems()))[1]
al = list(zip(df2_nums,mp_moved))
mov_stag = [[i[0],i[1].x,i[1].y,al[-1][1].distance(i[1])] for i in al]
mov_df = pd.DataFrame.from_records(mov_stag,columns=('Num','X','Y','Dist'))
mov_df

     Num             X           Y       Dist
0    612 -14574.506644 -465.178297  24.894722
1    611 -14549.211001 -462.285522   5.594790
2    613 -14596.914747 -478.751945  50.814175
3    614 -14620.621286 -481.361715  73.766592
4    615 -14643.239990 -494.780231  99.684099
5   613a -14599.453386 -473.751012  51.273215
6   614a -14619.703802 -486.664942  74.841707
7   615a -14639.901496 -488.013992  94.161997
8   612a -14573.378611 -470.672027  26.233544
9   610a -14527.723964 -454.916681  23.366804
10   610 -14529.238880 -449.458162  23.024965
11  611a -14550.999123 -456.984174   0.000000

g